# Basic dependencies
satella

# WSGI server
gunicorn

# Flask and assorted libraries
flask==1.*
flask-satella-metrics
flask-requests-logging>=0.5
flask-cors
flask-json
flasgger
# following is due to a bug in Jinja2
markupsafe==2.0.*

# Scraping library
requests
# Cassandra connectivity
cassandra-driver
# External parsers
pyyaml
satella
pandas
xlrd
openpyxl
selenium
webdriver-manager
